.upper {
    align-content: center;
    width: 400px;
    height: 500px;
    background-color: cyan;
    border-radius: 5px;
    margin-top: 20px;
    margin: auto;
    box-shadow: 1px 0px 4px #999999;
    box-shadow: 1px 5px 4px #999999;
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.btn {
    margin-left: 20px;
}

.form li:hover {
    font-weight: bold;
    transition: 0.7s ease-in;
}

.form li{
    transition: 0.7s ease-out;
}